@import 'index.scss';

.Login {
	&__card {
		display:flex;
		flex-direction: column;
		&__form {
			&__email,
			&__password,
			&__button {
				padding: 10px;
				margin: 10px;
			}
			&__email,
			&__password {
				background-color: white;
			}
		}
	}
}