@import 'index.scss';

.Post {
	background-color: blue;
	padding: 10px;
	border-radius: 15px;

	&__title {
		font-size: 20px;
		text-align: center;
	}

	&__form {
		background-color: red;

		&__text {
			width: 300px;
		}
	}
}