@import 'index.scss';

.Post {
	border: 2px solid orange;
	width: 600px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		font-size: 20px;
		text-align: center;
	}
	::placeholder {
  		color: coral;
  	}

	&__form {

		&__text {
			width: 300px;
			padding: 10px;

		}
		&__button {
			padding: 10px;
		}
	}
}