* {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.Home,
.Login,
.Register,
.Profile,
.OwnProfile,
.NoMatch {
	min-height: 85vh;
	display:flex;
	flex-direction: column;
	align-items: center;
}
