@import 'index.scss';

.Message {
	border: 2px solid white;
	list-style: none;
	width: 600px;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;

	display: flex;
	justify-content: space-between;

	&__username {
		color: orange;
		margin-left: 10px;
	}
	&__text {
		text-align:center;
	}
	&__right {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__bin {
			height: 35px;
			justify-self: flex-start;
		}
		&__count {
			position: relative;
			right: 15px;
			top: 15px;
		}
		&__heart {
			height: 35px;
			padding: 10px;
		}
	}
}
